html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  font-family: "Raleway", sans-serif !important;
}

.full-header {
  height: 100vh;
  background-color: #d2f2fa;
  background-image: url("./assets/images/back@2x.png");
  /* background-attachment: fixed; */
  background-position: right bottom;
  background-size: auto 100%;
  background-repeat: no-repeat;
  position: relative;
}

@keyframes movebackground {
  0% {
    background-position: center 0px;
  }

  20% {
    background-position: center -1px;
  }

  30% {
    background-position: center 0px;
  }

  40% {
    background-position: center -1px;
  }

  60% {
    background-position: center 0px;
  }

  80% {
    background-position: center -1px;
  }

  100% {
    background-position: center 0px;
  }
}

/* .full-header::after {
  position: absolute;
  left: -200px;
  bottom: -200px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgb(153, 221, 252);
  z-index: -1;
} */

.custom-navbar {
  /* background-color: #d2f2fa; */
  position: fixed !important;
  /* top: -100%; */
  left: 0;
  right: 0;
  z-index: 1090 !important;
}

.animate-nav {
  position: fixed !important;
  /* background-color: #ffffff; */
  /* box-shadow: 1px 0px 20px 1px rgba(20, 20, 20, 0.2); */
  top: 0%;
}

.minh-100 {
  min-height: 100%;
}

.logo {
  width: 120px;
}

.animate-nav .logo {
  width: 60px;
  animation: slide-nav-in 0.3s ease-out 1;
}
.noanimate-nav .logo {
  width: 120px;
  animation: slide-nav-out 0.3s ease-out 1;
}

@keyframes slide-nav-in {
  0% {
    width: 120px;
  }
  100% {
    width: 60px;
  }
}

@keyframes slide-nav-out {
  0% {
    width: 60px;
  }
  100% {
    width: 120px;
  }
}

.link {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.link,
.text-imp {
  color: rgb(74, 0, 103) !important;
}

.link.active,
.text-sec {
  color: rgb(255, 139, 0) !important;
}

.link:hover {
  color: rgb(255, 139, 0) !important;
}

.tagline {
  font-size: 2rem;
  text-shadow: 1px 1px 0px rgb(196, 109, 3);
  text-transform: uppercase;
  letter-spacing: 0.02rem;
}

.navbar-collapse {
  transition: all 0.5s linear;
}
.headline {
  color: rgb(183, 83, 212);
  font-size: 5rem;
  text-shadow: 1px 1px 0px rgb(74, 0, 103);
}
.effect {
  position: relative;
  z-index: 1;
}

.effect::after {
  content: "";
  position: absolute;
  background-color: rgb(183, 83, 212);

  left: 30px;
  top: 30px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  transition: all 0.5s ease-out;
}

.effect.right::after {
  content: "";
  position: absolute;
  background-color: rgb(183, 83, 212);

  left: -30px;
  top: 30px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  transition: all 0.5s ease-out;
}

/* .effect::before {
  content: "";
  position: absolute;
  background-color: #d6eaf8;
  right: -10px;
  bottom: 10px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  transition: left 0.5s ease-out, right 0.5s ease-out;
}

.effect:hover::before {
  right: 10px;
  bottom: -20px;
} */

.effect:hover::after {
  opacity: 0.5;
}

.text-effect {
  position: relative;
  z-index: 1;
}

.video {
  width: 100%;
  min-height: 360px;
}

.text-effect::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: -30px;
  top: 20%;
  transform: translateY(-50%);
  background-color: rgb(183, 83, 212);
  opacity: 0.4;
}

.menu-inner {
  position: fixed;
  color: red;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: none;
  transition: display 0.3s ease-in;
  /* animation: show-menu 0.5s 1s ease-in 1; */
  z-index: inherit;
}

@keyframes show-menu {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

.faq-box {
  width: 75%;
}
/* MObile */
@media only screen and (max-width: 768px) {
  .tagline {
    font-size: 1.2rem;
    text-align: center;
  }

  .headline {
    font-size: 2.8rem;
    text-align: center;
  }

  .effect::after {
    left: 10px;
    top: 10px;
  }

  .faq-box {
    width: 100%;
  }

  .effect.right::after {
    left: 10px;
    top: 10px;
  }

  .full-header {
    background-color: #d2f2fa;
    background-image: url("./assets/images/back@2x.png");
    background-position: center bottom;
    background-size: auto 100%;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
  }
}
